{% load staticfiles%}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- Latest compiled and minified CSS -->
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="{% static 'css/custom.css' %}">
	<title>{{title}}</title>
    <!-- Latest compiled JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{% static 'js/custom.js' %}"></script>
</head>
<!--
<script>
 $(document).ready( function() {
     $('#submitButton').click(function() {
     $.ajax({
     type: "POST",
     url: "makeshort/",
     data: {
     'url' : $('#url').val(),
     'shortid': $('#shortid').val(),
     'csrfmiddlewaretoken' : $("input[name=csrfmiddlewaretoken]").val()
     },
     success: returnSuccess,
     dataType: 'json'
     });
     });
 });
  
function returnSuccess(data, textStatus, jqXHR) {
 if(data.url) {
 $('#url-result').text(data.url);
 $('#url').val("");
 $('#shortid').val("");
 } else {
 $('#url-result').text("Do not submit blank."); 
 }
}
</script>
-->
<body>
<div id="wrap">
<header>
 <h1><a href="{% url 'shortener:home' %}">URL Shortener</a></h1>
</header>
  
<div id="content">
{% block content %}
  
{% endblock %}
</div>
</div>
</body>
</html>
