{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
 <title>{% block title %}Welcome to mysite{% endblock %}
 {% load staticfiles %}</title>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
 <link rel="stylesheet" type="text/css" href="{% static 'shortener/css/custom.css' %}" />
 <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
 <script src="{% static 'shortener/js/custom.js' %}"></script>
 <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div id="wrap">
<header>
 <h1><a href="{% url 'shortener:index' %}">URL Shortener</a></h1>
</header>
    <div id="content">
    {% block input %}
      
    {% endblock %}
    </div>
</div>

<div id="container">
    {% csrf_token %}
    {% include 'shortener/table.html' %}
</div>
</div>
</body>
</html>
