{% extends "contestReg/index.html" %}

{% block content %}
	<div class="container">
		<br>
		<br>
		<br>
		<br>
		<br>
		<div class="row">
			<div class="col-md-4">
				
			</div>
			<div class="col-md-4 col-sm-12 col-xs-12 col-lg-4">
				<div class="container">
					<div class="card list-group">
						
						<div class="card-block login-form">

							<h1 class="text-center lead"><span class="fa fa-code"></span> CodeCell</h1>
							<form method="POST" action="." class="form">
								{% csrf_token %}
								{{forms.as_p}}
								<button type="submit" class="btn btn-primary btn-block"><span class="fa fa-sign-in"></span> Login</button>
							</form>

						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4"></div>
		</div>
	</div>

{% endblock %}