body{
	background: lightblue;
}

h1 {
	padding: 10px;
	background: rgba(215,136,225,0.54);
}

.table{
	background: rgba(229,255,23,0.6);
}
.search li{
	margin: 10px;
}

.form-add td, .form-add th{
	padding: 10px;
	margin: 3px;
}

.footer{
	padding: 5%;
	padding-bottom: 1%;
}


/*
.form-add input{
	display: inline-block;
}*/
/*.form-grou input{
	display: block;
}*/