<br>
<div class="container">
	<h1 class="display-4">Codecell Quiz: All Weeks</h1>
</div>
<div class="container-fluid">
	<div class="card">
		<table class="table table-hover card-header">
			<thead>
				<tr>
					<th>Week Number</th>
					<th>Questions</th>
					<th>Ranklist</th>
				</tr>
			</thead>
			<tbody>
				{% for u in data %}
				<tr>
					<td>{{u}}</td>
					<td class = "inlink" onclick="window.location = '/quiz/'">View Quiz</td>
					<td class = "inlink" onclick="window.location = '/quiz/ranklist/week{{u}}'">View Ranklist</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>