<br>
<div class="container">
	<h1 class="display-4">Codecell Quiz: All Weeks</h1>
</div>
<div class="container-fluid">
	<div class="card">
		<table class="table table-hover card-header">
			<thead>
				<tr>
					<th class = "text-center">Week Number</th>
					<th class = "text-center">Questions</th>
					<th class = "text-center">Ranklist</th>
				</tr>
			</thead>
			<tbody>
				{% for u in data %}
				<tr>
					<td class = "text-center">{{u}}</td>
					<td class = "inlink text-center" ><a href="/quiz/"> View Quiz</a></td>
					<td class = "inlink text-center" ><a href ="/quiz/ranklist/week{{u}}"> View Ranklist</a></td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
