{% extends "contestReg/index.html" %}

{% block content %}
		<br/>
		<h1>Paritcipant List</h1>
	<div class="container-fluid">
		<form method="get" action="." class="form">
			<div class="row">
				<div class="col-md-7">
				{% if not view %}
					<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#AddForm">
  						Add New Participant
					</button>
				{% endif %}

				</div>
				<div class="col-md-3 col-sm-12">
					<div class="form-group">
						<input type="text" name="q" value="{{q}}" class="form-control">
					</div>
				</div>
				<div class="col-md-2 col-sm-12">
					<div class="form-group">
						<input class=" form-control btn btn-info btn-block" type="submit" value="search"/>
					</div>
				</div>
			</div>
		</form>
	</div>

	<div class="card">
		<table class="table table-info card-header">
		<thead>
			<tr>
				<th>Name</th>
				<th>Email</th>
				<th>Number</th>
				<th>Paid</th>
				<th>Present</th>
			</tr>
		</thead>
		<tbody>
			{% for entry in data %}
				<tr class="form">
					<td>{{entry.name}}</td>
					<td>{{entry.email}}</td>
					<td>{{entry.number}}</td>
					{% if view %}
					<td>{% if entry.paid %} Yes {% else %} No {% endif %}</td>
					<td>{% if entry.present %} Yes {% else %} No {% endif %}</td>
					{% else %}
					<!-- <form method="post"  action="."> -->
						
						{% csrf_token %}
						<td class="form-group">
						<input id="paid{{entry.id}}" class="form-control saveme" type="checkbox" name="paid" data="{{entry.id}}"
						 {% if entry.paid %} checked {% endif %}
						 />
					</td>
					<td>
						<input id="present{{entry.id}}" class="saveme form-control" type="checkbox" name="present" data="{{entry.id}}"
						{% if entry.present %} checked {% endif %}
						/> 
					</td>

					<!-- </form> -->
					{% endif %}
					{% if delete %}
						<td>
							<form method="post" action="/register/delete/">
								{% csrf_token %}
								<input class="hide" name="id" type="text" value="{{entry.id}}">
								<input class="btn btn-danger" type="submit" value="delete">
							</form>
						</td>
					{% endif %}
				</tr>
			{% endfor %}
		</tbody>
	</table>
	</div>
	<br />

	<div class="modal fade" id="AddForm">
		<div role="document" class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h1 class="lead">Participant Details</h1>
				</div>
				<div class="modal-body">
					<div class="container">
						{% if not view %}
						<form class="form" action="/register/edit/" method="post">
							{% csrf_token %}
							{{ form }}
							<br /> 	
							<input class="btn btn-info btn-block" type="submit" value="Add" data-dismiss="modal" />
						</form>	
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>
	
	



<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}