{% extends "contestReg/index.html" %}

{% block content %}
		<br/>
		<div class="container">
			<h1 class="display-4"> Paritcipant List</h1>
			
		</div>

	<div class="container-fluid">
		<form method="get" action="." class="form">
			<div class="row">
				<div class="col-md-7">
				{% if not view %}
					<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#AddForm">
  					<span class="fa fa-plus "></span> Add Participant
					</button>
				{% endif %}

				</div>
				<div class="col-md-3 col-sm-12">
					<div class="form-group">
						<input type="text" name="q" value="{{q}}" class="form-control"  placeholder="Enter Name..." />
					</div>
				</div>
				<div class="col-md-2 col-sm-12">
					<div class="form-group">
						<button class=" form-control btn btn-info btn-block" type="submit" value="search"><span class="fa fa-search"></span> Search</button>
					</div>
				</div>
			</div>
		</form>
	</div>

	<div class="card">
		{% include 'contestReg/mainTable.html' %}
	</div>
	<br/><br />

	{% include "contestReg/forms/logout.html" %}

	
	<div class="modal fade" id="AddForm">
		<div role="document" class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h1 class="lead text-center">Participant Details</h1>
					  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          				<span aria-hidden="true" class="">&times;</span>
        			  </button>
				</div>
				<div class="modal-body">
					{% include 'contestReg/forms/AddParticipant.html' %}
				</div>
				<div class="modal-footer">
					*All fields are compulsory
				</div>
			</div>
		</div>
	</div>

{% endblock %}